//
//  UnitTests.xcconfig
//  BreakingBadCharacters
//
//  Created by Voro on 2.08.20.
//  Copyright © 2020 GeorgiIvanov. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-IrishRailAPI/Pods-IrishRailAPI.debug.xcconfig"

API_BASE_URL = invalid

STUB_RESPONSE = true
